:root {
    --primary: red
}

body {
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
}

* {
    // background-color: var(--primary);
    box-sizing: border-box;
}

iframe {
    height: 100vh;
    // display: none;
}