body {
    margin: 0px;
}

* {
    box-sizing: border-box;
    // background-color: red;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rebeccapurple;

    &>a {
        text-decoration: none;
        color: white;
        font-size: 24px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        margin: none;
        padding: none;

        li {
            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
            }
        }
    }
}


@media(max-width:1440px) {
    nav {
        background-color: red;
    }
}
@media(max-width:500px) {
    nav {
        background-color: rgb(58, 210, 41);
        ul{
            li{
                a{
                    color: black;
                }
            }
        }
    }
}