body{
    margin: 0px;
}
*{
    box-sizing: border-box;
}
.mainHeader{
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    margin-top: 0px;
}